BETTER_AUTH_SECRET=supersecretkey # Cambia esto por una clave segura en producción
BETTER_AUTH_URL=http://localhost:3000 # URL de tu aplicación Next.js

DATABASE_URL="database.url" # Cambia esto por la URL de tu base de datos